* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: getColor(background-grey);
  font-family: $opensans;
  margin: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  flex: 1 0 auto;
}
