footer {
  background: getColor(card-grey);
  flex-shrink: 0;
  font-size: 1rem;
  padding: 1%;
  font-family: $archivo;
  color: getColor(text-grey);

  .container {
    @extend .container-flex;
  }
}
